In [1]:
student = {
    'name' : 'Edward Cullen',
    'class' : '8th',
    'roll no' : 15,
    'marks' : 98
}

print(student)

{'name': 'Edward Cullen', 'class': '8th', 'roll no': 15, 'marks': 98}

In [2]:
print(student['name'])
print(student['class'])

Edward Cullen
8th

In [3]:
print(student.get('name'))
print(student.get('class'))
print(student.get('english'))

Edward Cullen
8th
None

In [4]:
# add a new entry
student['school'] = 'LPS'
student['father'] = 'carliel cullen'
print(student)

{'name': 'Edward Cullen', 'class': '8th', 'roll no': 15, 'marks': 98, 'school': 'LPS', 'father': 'carliel cullen'}

In [5]:
#update an entry
student['class'] = '12th'

print(student)

{'name': 'Edward Cullen', 'class': '12th', 'roll no': 15, 'marks': 98, 'school': 'LPS', 'father': 'carliel cullen'}

In [6]:
show = {
    'series' : 'Broken But Beautiful',
    'total season' : 3,
    'total episode' : 32,
    'star cast' : 'vikrant messy',
    'star cast 2' : 'harleen sethi'

}

print(show)

{'series': 'Broken But Beautiful', 'total season': 3, 'total episode': 32, 'star cast': 'vikrant messy', 'star cast 2': 'harleen sethi'}

In [8]:
for key in show:
    print(key)

series
total season
total episode
star cast
star cast 2

In [9]:
for key in show:
    print(key, show[key])

series Broken But Beautiful
total season 3
total episode 32
star cast vikrant messy
star cast 2 harleen sethi

In [10]:
for k, v in show.items():
    print(k,v)

series Broken But Beautiful
total season 3
total episode 32
star cast vikrant messy
star cast 2 harleen sethi

In [12]:
print(show.keys())
print(show.values())
print(show.items())

dict_keys(['series', 'total season', 'total episode', 'star cast', 'star cast 2'])
dict_values(['Broken But Beautiful', 3, 32, 'vikrant messy', 'harleen sethi'])
dict_items([('series', 'Broken But Beautiful'), ('total season', 3), ('total episode', 32), ('star cast', 'vikrant messy'), ('star cast 2', 'harleen sethi')])

In [13]:
show.pop('star cast')

'vikrant messy'